body {
    font-family: 'Outfit', sans-serif;
    background-color: #bbbbbb;
}

.CoverIMG{
    width: 330px;
    height: 500px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    
}

.CoverIMG:hover{
    filter: brightness(0.8);
    transform: scale(1.02);
    transition: 0.5s;
}

.CoverIMG:not(:hover){
    transform: scale(1);
    transition: 0.5s;
}
