body {
    font-family: 'Outfit', sans-serif;
    background-color: rgb(172, 172, 172);
}

.CoverIMG{
    width: 330px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    display: block;
    
    border: 1px solid black;
}

.CoverIMG:hover{
    filter: brightness(0.8);
    transform: scale(1.02);
    transition: 0.5s;
}

.CoverIMG:not(:hover){
    transform: scale(1);
    transition: 0.25s;
}

.imgConfig{
    width: 330px;
    height: 500px;
    margin: auto;
    margin-bottom: 15px;
}

header{
    align-items: center;
    background-color: black;
    padding: 20px;
    margin-bottom: 15px;
    width: auto;
}

h1{
    text-align: center;
    color: rgb(219, 219, 219);
    transform: translateY(10px);
}

h2{
    text-align: center;
    margin: auto;
}

.autor{
    text-align: right;
    margin-right: auto;
    color: rgb(219, 219, 219);
    transform: translateY(15px);
}



.bottom{
    margin-top: 15px;
    margin-bottom: 0px;
    
}

.contato{
    text-align: right;
    margin: auto;
}

.jogos{
    background-color: black;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    width: 450px;
    height: auto;
}

li{
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;

}

p{
    text-align: center;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
}

.colorText{
    color: rgb(219, 219, 219);
}



