body {
    font-family: 'Outfit', sans-serif;
    background-image: radial-gradient(circle, rgb(168, 139, 139), rgb(100, 86, 86), rgb(44, 44, 44));

}

.CoverIMG{
    width: 330px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    display: block;
    
    border: 1px solid black;
}

.CoverIMG:hover{
    filter: brightness(0.8);
    transform: scale(1.02);
    transition: 0.5s;
}

.CoverIMG:not(:hover){
    transform: scale(1);
    transition: 0.25s;
}

.imgConfig{
    width: 330px;
    height: 500px;
    margin: auto;
    margin-bottom: 15px;
}

header{
    align-items: center;
    background-color: black;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 35px;
    width: 100%;
}

h1{
    text-align: center;
    color: rgb(219, 219, 219);
    transform: translateY(10px);
}

h2{
    text-align: center;
    margin: auto;
}

.autor{
    text-align: right;
    margin-right: auto;
    padding-right: 15px;
    color: rgb(219, 219, 219);
    transform: translateY(15px);
}



.bottom{
    margin-top: 35px;
    margin-bottom: 0px;
    
    
}

a.contato{
    color: rgb(219, 219, 219);
    margin: auto;
    margin-left: 25px;
    text-decoration: none;
    
}

a.contato:visited{
    color: rgb(229, 150, 150);
}

a.contato:hover{
    color: rgb(246, 124, 124);
    font-size: 18px;
    transition: 0.5s;
}

.content{
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    max-width: 800px;
    min-width: 400px;
    background-color: rgb(158, 158, 158);
}

.jogos{
    text-align: center;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    width: 350px;
    height: auto;
}

.jogos.ruim{
    margin-top: -25px;

}

.line{
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    transform: translateY(25px);
    position: relative;
    z-index: -1;
    min-width: 420px;

}  
.line.top{
    transform: translateY(50px);
}

ul{
    text-align: center;
    align-items: center;
}

li{
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;

}

p{
    text-align: center;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
    background-color: rgb(206, 206, 206);
}

.colorText{
    color: rgb(219, 219, 219);
}

.colorBox{
    background-color: black;
}



